<div id="portfoliowrap">
    {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
    <div class="col-sm-10 col-sm-offset-3 col-sm-pull-2">
        <div class="recentitems portfolio">
            {% for project in site.evaluations limit:include.limit %}
            <a href="{{  project.url | prepend: site.baseurl }}">
                <div class="col-lg-2 portfolio-item">
                    <div class="he-wrap tpl6 col-sm-offset-2">
                        <div class="alert alert-success" role="alert">
                            <font size="3">
                                <center>
                                    <table>
                                        <tr>
                                            <td align="left">Region:</td>
                                            <td align="center"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{project.region}}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">Target year:</td>
                                            <td align="center"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{project.target}}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">Data year:</td>
                                            <td align="center"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{project.data}}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">Target CO<sub>2</sub> reduction:</td>
                                            <td align="center">
                                                <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{project.reduction}}</b></td>
                                        </tr>
                                        <!--<tr><td>&nbsp;</td></tr>
                                        <tr>
                                            <td colspan="2" align="left">
                                                <font size=3>{{project.remarks}}</font></td>
                                        </tr>-->
                                    </table>
                                </center>
                            </font>
                        </div>
                        <!--<img src="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" alt="">-->
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a0" data-animate="fadeInDown">{{ project.title }}</h3>
                                <!--    <a data-rel="prettyPhoto" href="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>-->
                                <!--    <div class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link fa-2x"></i></div> -->
                            </div>
                        </div>
                    </div>
                </div><!-- end col-12 -->
            </a>
            {% endfor %}
        </div><!-- portfolio -->
    </div><!-- portfolio container -->
</div>
<!--/Portfoliowrap -->