<div id="">

    <div class="container mtb">
        <div class="row"></div>
      </div>

    <center>
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}   
    </center>
    <div class="col-md-9 col-sm-offset-3 col-sm-pull-1">
        <div class="recentitems study">
            {% for study in site.posts limit:include.limit %}
            <a href="{{  study.url | prepend: site.baseurl }}">
                <div class="col-lg-5 study-item">
                    <div class="he-wrap tpl6_study col-sm-offset-1">
                        <div class="alert alert-warning" role="alert">
                            <center>
                                <table>
                                    <tr>
                                        <td align="center">
                                            <font size="4">{{study.title}}</font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <font size="2"><b>{{study.date | date_to_string}}</b></font>
                                        </td>
                                    </tr>
                                    </tr>
                                </table>
                            </center>
                        </div>
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a0" data-animate="fadeInDown">{{ study.title }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>