---
layout: default
---
{% include wrap.html %}

<div class="row">

    <center>
        <h2>2018 - Montly Spanish CO<sub>2</sub> Equivalent Emissions in Power Generation</h2>
        <h3>Total emissions: <b>64,788 kton CO<sub>2</sub></b></h3>
        <iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="emissions_month_spain_2018.html" height="550" width="70%"></iframe>
    </center>

    <center>
        <h2>2018 - Spanish CO<sub>2</sub> Equivalent Emissions in Power Generation by Energy Source</h2>
        <h3>Total emissions: <b>64,788 kton CO<sub>2</sub></b></h3>
        <iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="emissions_Spain_2018.html" height="550" width="70%"></iframe>
    </center>

</div>