---
layout: default
---

{% include wrap.html %}

<div class="col-xs-offset-1">
    <div class="row">

        <div class="col-lg-5">
            <div class="spacing"></div>

            {{ content }}
            <br>
            <h4>Main results</h4>

            <table width="100%">
                <thead>
                    <tr>
                        <th style="text-align: center; border-left: 1px solid black; ">Installed power</th>
                        <th style="text-align: center; border-left: 1px solid black; ">Installed power</th>
                        <th style="text-align: center; border-left: 1px solid black; ">Installed power</th>
                        <th style="text-align: center; border-left: 1px solid black; ">Total installed</th>
                        <th style="text-align: center; border-left: 1px solid black; ">Renewable power</th>
                        <th style="text-align: center; border-left: 1px solid black; border-right: 1px solid black; 0">Mean energy</th>
                    </tr>
                    <tr>
                        <th style="text-align: center; border-left: 1px solid black; ">PV (GW)</th>
                        <th style="text-align: center; border-left: 1px solid black; ">Wind (GW)</th>
                        <th style="text-align: center; border-left: 1px solid black; ">CSP (GW)</th>
                        <th style="text-align: center; border-left: 1px solid black; ">power (GW)</th>
                        <th style="text-align: center; border-left: 1px solid black; ">(GW)</th>
                        <th style="text-align: center; border-left: 1px solid black; border-right: 1px solid black; ">cost (c€/kWh)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: center; border: 1px solid"><font color="#0073ac"><b>{{page.pv}}</b></font></td>
                        <td style="text-align: center; border: 1px solid"><font color="#0073ac"><b>{{page.wind}}</b></font></td>
                        <td style="text-align: center; border: 1px solid"><font color="#0073ac"><b>{{page.csp}}</b></font></td>
                        <td style="text-align: center; border: 1px solid"><font color="#0073ac"><b>{{page.total_power}}</b></font></td>
                        <td style="text-align: center; border: 1px solid"><font color="#0073ac"><b>{{page.renewable_power}}</b></font></td>
                        <td style="text-align: center; border: 1px solid"><font color="#A30000"><b>{{page.cost}}</b></font></td>
                    </tr>
                </tbody>
            </table>
            <p></p>
            <table width="100%">
                <thead>
                    <tr>
                        <th style="text-align: center; border-left: 1px solid black; ">Demand</th>
                        <th style="text-align: center; border-left: 1px solid black; ">Generated</th>
                        <th style="text-align: center; border-left: 1px solid black; ">Exported</th>
                        <th style="text-align: center; border-left: 1px solid black; ">Imported</th>
                        <th style="text-align: center; border-left: 1px solid black; ">Dumped</th>
                        <th style="text-align: center; border-left: 1px solid black; border-right: 1px solid black; ">CO<sub>2</sub> emissions (kton) &</th>
                    </tr>
                    <tr>
                        <th style="text-align: center; border-left: 1px solid black; ">(TWh)</th>
                        <th style="text-align: center; border-left: 1px solid black; ">elec. (TWh)</th>
                        <th style="text-align: center; border-left: 1px solid black; ">elec. (TWh)</th>
                        <th style="text-align: center; border-left: 1px solid black; ">elec. (TWh)</th>
                        <th style="text-align: center; border-left: 1px solid black; ">elec. (TWh)</th>
                        <th style="text-align: center; border-left: 1px solid black; border-right: 1px solid black; ">percentage reduction <sup>(1)</sup></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: center; border: 1px solid"><font color="#1c6cc8"><b>{{page.demand}}</b></font></td>
                        <td style="text-align: center; border: 1px solid"><font color="#1c6cc8"><b>{{page.generated}}</b></font></td>
                        <td style="text-align: center; border: 1px solid"><font color="#1c6cc8"><b>{{page.exported}}</b></font></td>
                        <td style="text-align: center; border: 1px solid"><font color="#1c6cc8"><b>{{page.imported}}</b></font></td>
                        <td style="text-align: center; border: 1px solid"><font color="#1c6cc8"><b>{{page.dumped}}</b></font></td>
                        <td style="text-align: center; border: 1px solid"><font color="#555500"><b>{{page.emissions}}</b></font></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <sup>(1)</sup> Percentage reduction with respect to emissions in 1990 (<a href='../../emissions/'><b>64,538 kton CO<sub>2</sub></b></a>).
        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Optimization Variables</h4>
            <p align='justify'>{{ page.variables }}</p>
            <br>
            <h4>Optimization Goals</h4>
            <p align='justify'>{{ page.goals }}</p>
            <br>
            <h4>Optimization Restrictions</h4>
            <p align='justify'>{{ page.restrictions }}</p>
            <br>
            <h4>Information</h4>
            <p></p>
            <p></p>
            <!--<p><b>Date:</b> {{ page.date | date: "%b %-d, %Y" }}</p>
            <p><b>Target year:</b> {{ page.target }}</p>
            <p><b>Data year:</b> {{ page.data }}</p>
            <p><b>Emission reduction:</b> {{ page.reduction }}</p>
            <p><b>Author/s:</b> {{ page.author }}</p>-->
            <table class='pure-table'>
                <tr>
                    <td align="left"><b>Region:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
                    <td align="left">{{page.region}}</td>
                </tr>
                <tr>
                    <td align="left"><b>Target year:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
                    <td align="left">{{page.target}}</td>
                </tr>
                <tr>
                    <td align="left"><b>Data year:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
                    <td align="left">{{page.data}}</td>
                </tr>
                <tr>
                    <td align="left"><b>CO<sub>2</sub> reduction:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
                    <td align="left">{{page.reduction}}</td>
                </tr>
                <tr>
                    <td align="left"><b>Authors:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
                    <td align="left">{{page.author}}</td>
                </tr>
                </tr>
            </table>
            <br>
            <br>
        </div>

    </div>

    <h2>Optimization details</h2>
    <div class="hline-size"></div>
    <div class="spacing"></div>
    <div class="spacing"></div>
    <div w3-include-html="../../results/{{page.results}}/optimization_results.html"></div>

    <script>
        w3IncludeHTML();
    </script>

</div>
<br>
<br>
<br>
<br>
</div>
<! --/container -->